<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Crm" connectionString="AuthType=Office365;Url=https://thomascookdev.crm4.dynamics.com; Username=TCGdynamicscrmNoPRD@thomascook.onmicrosoft.com; Password=9L%$!AIOps!*" />
  </connectionStrings>
  <appSettings>
    <add key="DepartureDateinNextXDays" value="9"/>
    <add key="ExecuteMultipleBatchSize" value="50"/>
    <add key="DestinationGatewayIds" value="{54218CAD-37ED-E611-80FE-3863BB354FF0},{FF1B2B35-D7EE-E611-8106-3863BB34FB48},{F0D11EF9-D9EE-E611-8106-3863BB34FB48}"/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
</configuration>