<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Crm" connectionString="AuthType=Office365;Url=https://thomascooksit.crm4.dynamics.com; Username=TCGdynamicscrmNoPRD@thomascook.onmicrosoft.com; Password=9L%$!AIOps$$" />
  </connectionStrings>
<appSettings>
  <add key="DepartureDateinNextXDays" value="14" />
  <add key="ExecuteMultipleBatchSize" value="50" />
  <add key="DestinationGatewayIds" value="{72BEDD93-2E19-E711-810A-3863BB34DA28},{AABCDD93-2E19-E711-810A-3863BB34DA28},{A4BBDD93-2E19-E711-810A-3863BB34DA28},{0CBEDD93-2E19-E711-810A-3863BB34DA28},{FCBEDD93-2E19-E711-810A-3863BB34DA28},{12BFDD93-2E19-E711-810A-3863BB34DA28},{7EBFDD93-2E19-E711-810A-3863BB34DA28},{84BEDD93-2E19-E711-810A-3863BB34DA28},{FABADD93-2E19-E711-810A-3863BB34DA28},{3EBEDD93-2E19-E711-810A-3863BB34DA28}" />
  <!-- ACA,ASW,CAI,CUN,HRG,LPA,MEX,RMF,SSH,TCP-->
</appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>