body 
{
    font-style:normal;
    font-family:Verdana;
    font-size:small;
    margin-bottom: 10%;    
}
table {
    font-size: 12px;
    font-family: Segoe UI, Arial, sans-serif;
    color: #444444;
}

input {
    font-size: 12px;
    font-family: Segoe UI, Arial, sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.2rem;
  background-color: #f8f8f8;
  text-align: center;
  position: fixed;
}

.button 
{
    background-color: #f8f8f8;  
    border: 1px solid #d1d1d1;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: Segoe UI, Arial, sans-serif;
    float: right;
    background: url(/_imgs/inlineedit/save.png);
} 


.button:active {
  transform: translateY(4px);
}


