<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="jwtkey" value="C28B0C3367291249B85B1987E0C1B7EADC86E28B7E11913E32FA6A465EC4B5DA" />
    <!--<add key="ApiUrl" value="https://tc-dev1.azurewebsites.net/" />-->
    <add key="ApiUrl" value="http://localhost:48912" />
    <add key="privateKeyFileName" value="RSAPrivate_1484769790.xml"/>
  </appSettings>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
  </system.net>
</configuration>