<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Crm" connectionString="To be read from azure." />
  </connectionStrings>
  <appSettings>
    <add key="DeallocationOwnerId" value="{35ECF2B8-90E4-E611-8105-3863BB34FA70}" /> <!--UserId TCGdynamicscrmNoPRD@thomascook.onmicrosoft.com-->
    <add key="DeallocationOwnerName" value="TCG Dynamics CRM No PRD" />
    <add key="ExecuteMultipleBatchSize" value="50" />
    <add key="DestinationGatewayIds" value="{72bedd93-2e19-e711-810a-3863bb34da28}, {aabcdd93-2e19-e711-810a-3863bb34da28}, {a4bbdd93-2e19-e711-810a-3863bb34da28}, {0cbedd93-2e19-e711-810a-3863bb34da28}, {fcbedd93-2e19-e711-810a-3863bb34da28}, {12bfdd93-2e19-e711-810a-3863bb34da28}, {7ebfdd93-2e19-e711-810a-3863bb34da28}, {84bedd93-2e19-e711-810a-3863bb34da28}, {fabadd93-2e19-e711-810a-3863bb34da28}, {3ebedd93-2e19-e711-810a-3863bb34da28}" />
    <!-- ACA,ASW,CAI,CUN,HRG,LPA,MEX,RMF,SSH,TCP-->
  </appSettings>
</configuration>