<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Crm" connectionString="AuthType=Office365;Url=https://thomascookdev.crm4.dynamics.com; Username=TCGdynamicscrmNoPRD@thomascook.onmicrosoft.com; Password=9L%$!AIOps!*" />
  </connectionStrings>
  <appSettings>
    <add key="DeallocationOwner" value="{35ECF2B8-90E4-E611-8105-3863BB34FA70}"/> <!--UserId TCGdynamicscrmNoPRD@thomascook.onmicrosoft.com-->
    <add key="ExecuteMultipleBatchSize" value="50"/>
    <add key="DestinationGatewayIds" value="{37c4bfbe-29f8-e611-810b-1458d041f8e8},{fb86aeb3-27f8-e611-810b-1458d041f8e8},{999beff7-27f8-e611-810b-1458d041f8e8},{70fc2806-2af8-e611-810b-1458d041f8e8},{74ffd12f-28f8-e611-810b-1458d041f8e8},{c7a99285-2af8-e611-810b-1458d041f8e8},{ff1b2b35-d7ee-e611-8106-3863bb34fb48},{63e1f2a5-28f8-e611-810b-1458d041f8e8},{de0ba066-28f8-e611-810b-1458d041f8e8},{7049bbf5-28f8-e611-810b-1458d041f8e8}"/>
    <!-- ACA,ASW,CAI,CUN,HRG,LPA,MEX,RMF,SSH,TCP-->
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
</configuration>