<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="jose-jwt" version="2.2.0" targetFramework="net452" />
  <package id="JWT" version="1.3.4" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.UII.CommonAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.UII.DesktopAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.USD.CoreAssemblies" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="7.1.0" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="7.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
</packages>